# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

node_modules/
.npm
.eslintcache
.node_repl_history
*.tgz
src/config/.env
src/config/certs
src/config/secrets

# IDEs and editors
/.idea
.project
.settings/

#Build
dist/

mongo/
